<div class="padding-historial">
  <div class="sub-title">
    <b><span class="color-text">SEGUIMIENTO {{proyecto.nom_tipologia}}: "{{proyecto.nom_proyecto}}"</span></b>
  </div>
  <div class="mat-elevation-z4" *ngIf="dataEtapas.length>0;else noEtapas">
    <div class="table-wrapper">
      <table mat-table [dataSource]="dataEtapas" matSort style="table-layout: auto; width: 100%;">
        <ng-container matColumnDef="nro">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element;index as i">{{i+1}}</td>
        </ng-container>
        <ng-container matColumnDef="historial">
          <th mat-header-cell *matHeaderCellDef>Historial.</th>
          <td mat-cell *matCellDef="let element">
            <button mat-mini-fab color="accent" (click)="openHistorial(element)">
              <mat-icon>history</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="nombre_etapa">
          <th mat-header-cell *matHeaderCellDef>Etapa.</th>
          <td mat-cell *matCellDef="let element">{{element.nombre_etapa}}</td>
        </ng-container>
        <ng-container matColumnDef="coste_final">
          <th mat-header-cell *matHeaderCellDef>Monto total de Etapa. (Bs.)</th>
          <td mat-cell *matCellDef="let element">{{element.coste_final}}</td>
        </ng-container>
        <ng-container matColumnDef="avance_seguimiento_fisico">
          <th mat-header-cell *matHeaderCellDef>Avance de seg. físico. (%)</th>
          <td mat-cell *matCellDef="let element">{{element.avance_seguimiento_fisico}}%</td>
        </ng-container>
        <ng-container matColumnDef="avance_seguimiento_financiero">
          <th mat-header-cell *matHeaderCellDef>Avance de seg. financiero. (%)</th>
          <td mat-cell *matCellDef="let element">{{progresoFinanciamiento(element)}} %</td>
        </ng-container>
        <ng-container matColumnDef="fecha_seguimiento">
          <th mat-header-cell *matHeaderCellDef>Fecha de ult. seguimiento.</th>
          <td mat-cell *matCellDef="let element">{{element.fecha_seguimiento}}</td>
        </ng-container>
        
        <ng-container matColumnDef="monto_total">
          <th mat-header-cell *matHeaderCellDef>Monto último registro. (Bs.)</th>
          <td mat-cell *matCellDef="let element">{{element.monto_total}}</td>
        </ng-container>
       
        <ng-container matColumnDef="fuente_de_informacion">
          <th mat-header-cell *matHeaderCellDef>Fuente de informacion</th>
          <td mat-cell *matCellDef="let element">{{element.fuente_de_informacion}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"
          *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  <ng-template #noEtapas>
    <p><i>NO ENCONTRARON ETAPAS...</i></p>
  </ng-template>

  <div class="sub-title" *ngIf="openHistorialEtapa">
    <b><span class="color-text">SEGUIMIENTO DE LA ETAPA: "{{etapa_proyecto.nombre_etapa}}"</span></b>
  </div>
  <div class="mat-elevation-z4" *ngIf="openHistorialEtapa">
    <div class="table-wrapper">
      <table mat-table [dataSource]="dataSeguimientosEtapa" matSort style="table-layout: auto; width: 100%;">
        <ng-container matColumnDef="nro">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element;index as i">{{i+1}}</td>
        </ng-container>
        <ng-container matColumnDef="nombre_etapa">
          <th mat-header-cell *matHeaderCellDef>Etapa.</th>
          <td mat-cell *matCellDef="let element">{{etapa_proyecto.nombre_etapa}}</td>
        </ng-container>
        <ng-container matColumnDef="fecha_seguimiento">
          <th mat-header-cell *matHeaderCellDef>Fecha de seguimiento.</th>
          <td mat-cell *matCellDef="let element">{{element.fecha_seguimiento_fisico}}</td>
        </ng-container>
        <ng-container matColumnDef="avance_seguimiento_fisico">
          <th mat-header-cell *matHeaderCellDef>Avance de seguimiento fisico.</th>
          <td mat-cell *matCellDef="let element">{{element.avance_seguimiento_fisico}}%</td>
        </ng-container>
        <ng-container matColumnDef="avance_seguimiento_financiero">
          <th mat-header-cell *matHeaderCellDef>Avance de seguimiento financiero.</th>
          <td mat-cell *matCellDef="let element">{{element.avance_seguimiento_financiero}}%</td>
        </ng-container>
        
        <ng-container matColumnDef="adjunto_fisico">
          <th mat-header-cell *matHeaderCellDef>Documento avance fisico</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.adjunto_fisico; else noFile" class="d-flex align-items-center">
              <button mat-icon-button color="primary" matTooltip="Download"
                  (click)="downloadFile(element.adjunto_fisico)">
                  <mat-icon>file_download</mat-icon>
              </button>   
          </div>
          <ng-template #noFile> <p>Sin Archivo</p>
        </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="adjunto_financiero">
          <th mat-header-cell *matHeaderCellDef>Documento avance financiero</th>

          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.adjunto_financiero; else noFile" class="d-flex align-items-center">
                <button mat-icon-button color="primary" matTooltip="Download"
                    (click)="downloadFile(element.adjunto_financiero)">
                    <mat-icon>file_download</mat-icon>
                </button>   
            </div>
            <ng-template #noFile> <p>Sin Archivo</p></ng-template>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedSeguimientoColumns"></tr>
        <tr mat-row (click)="clickedSeguimientosRows.add(row)"
          [class.demo-row-is-clicked]="clickedSeguimientosRows.has(row)"
          *matRowDef="let row; columns: displayedSeguimientoColumns;"></tr>
      </table>
    </div>
  </div>
</div>