<mat-card [ngStyle]="{'min-width':'1368px'}">
  <div class="title">
    <b><span class="color-text">REPORTES DE ACCIONES/PROYECTOS</span></b>
  </div>
  <mat-grid-list cols="2" rowHeight="2:1" style="width: 100%">
    <mat-grid-tile colspan="2" style="background-color: #f0f0f0">
        <div class="scroller-x">
            <div id="chart-container-lineas"></div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2" style="background-color: #f5f5f5">
        <div id="chart-container-pdc"></div>
    </mat-grid-tile>
    <mat-grid-tile style="background-color: #f0f0f0">
        <div class="scroller">
            <div id="chart-container-categoria"></div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile style="background-color: #f5f5f5">
        <div class="scroller">
            <div id="chart-container-tipologia"></div>
        </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
