<mat-card [ngStyle]="{'min-width':'100%'}">
  <div class="title">
    <b><span class="color-text">REPORTES DE ACCIONES/PROYECTOS</span></b>
  </div>
        <div class="scroller-x">
            <div id="chart-container-lineas"></div>
        </div>
    
        <div class="scroller">
            <div id="chart-container-pdc"></div>
        </div>
    
        <div class="scroller">
            <div id="chart-container-categoria"></div>
        </div>
    
        <div class="scroller">
            <div id="chart-container-tipologia"></div>
        </div>
    
</mat-card>
