<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">{{action}} Usuario</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="usuarioForm">
        <div fxFlex fxLayout="column">
            <span class="subTitle">Registro</span>
            <div fxLayout="row wrap" >
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre" required>
                    <mat-error *ngIf="usuarioForm.controls.nombre.touched && usuarioForm.controls.nombre.invalid">
                        <span *ngIf="usuarioForm.controls.nombre.errors.required">Este campo es obligatorio.</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Primer Apellido</mat-label>
                    <input matInput formControlName="ap_paterno" required>
                    <mat-error *ngIf="usuarioForm.controls.ap_paterno.touched && usuarioForm.controls.ap_paterno.invalid">
                        <span *ngIf="usuarioForm.controls.ap_paterno.errors.required">Este campo es obligatorio.</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Segundo Apellido</mat-label>
                    <input matInput formControlName="ap_materno" required>
                    <mat-error *ngIf="usuarioForm.controls.ap_materno.touched && usuarioForm.controls.ap_materno.invalid">
                        <span *ngIf="usuarioForm.controls.ap_materno.errors.required">Este campo es obligatorio.</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row wrap">
               
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Ci</mat-label>
                    <input  matInput formControlName="ci" required>
                    <mat-error *ngIf="usuarioForm.controls.ci.touched && usuarioForm.controls.ci.invalid">
                        <span *ngIf="usuarioForm.controls.ci.errors.required">Este campo es obligatorio.</span>
                    </mat-error>
                </mat-form-field> 
                  <!-- genero  -->
                  <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Genero</mat-label>
                    <mat-select formControlName="genero" required>
                      <mat-option value="Masculino">Masculino</mat-option>
                      <mat-option value="Femenino">Femenino</mat-option>
                      <mat-option value="Femenino">Otro</mat-option>
                    </mat-select>
                  </mat-form-field>            

                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Telefono</mat-label>
                    <input  matInput formControlName="telefono"  maxlength="5">
                    <mat-error *ngIf="usuarioForm.controls.telefono.touched && usuarioForm.controls.telefono.invalid">
                        <span>Nro teléfono incorrecto</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Celular</mat-label>
                    <input  matInput formControlName="celular" required maxlength="8">
                    <mat-error *ngIf="usuarioForm.controls.celular.touched && usuarioForm.controls.celular.invalid">
                        <span *ngIf="usuarioForm.controls.celular.errors.required">Este campo es obligatorio.</span>
                    </mat-error>
                </mat-form-field>

                <!-- rol -->
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Rol</mat-label>
                    <mat-select formControlName="rol" required>
                        <mat-option value="Administrador">Administrador</mat-option>
                        <mat-option value="Operador">Operador</mat-option>
                    </mat-select>
                    <mat-error *ngIf="usuarioForm.controls.rol.touched && usuarioForm.controls.rol.invalid">
                        <span *ngIf="usuarioForm.controls.rol.errors.required">Este campo es obligatorio.</span>
                    </mat-error>
                </mat-form-field>
              
                <!-- entiedad -->
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Entidad</mat-label>
                    <mat-select formControlName="id_entidad_ejecutora" required>
                        <mat-option *ngFor="let tipologia of entidad" [value]="tipologia.id_entidad_ejecutora">
                            {{tipologia.nom_entidad_ejecutora}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Email(Usuario)</mat-label>
                    <input  matInput formControlName="email" required>
                    <mat-error *ngIf="usuarioForm.controls.email.touched && usuarioForm.controls.email.invalid">
                        <span *ngIf="usuarioForm.controls.email.errors.required">Este campo es obligatorio.</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Contraseña</mat-label>
                    <input type="password" matInput formControlName="password" required>
                    <mat-error *ngIf="usuarioForm.controls.password.touched && usuarioForm.controls.password.invalid">
                        <span *ngIf="usuarioForm.controls.password.errors.required">Este campo es obligatorio.</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
        [disabled]="![usuarioForm.valid && usuarioForm.dirty]">{{action}}</button>
        <button mat-raised-button color="primary" mat-dialog-close>Cancelar</button>
</mat-dialog-actions>

