table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .float-right {
    float: right;
    margin-top: -8px;
    margin-right: 10px;
}

mat-card {
    padding: 20px;
}

.padding{
    padding: 20px;
}

span{
    align-items: center;
    text-align: center;
}


table {
    width: 100%;
}

mat-form-field {
    padding: 5px;
}

.img {
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
}

div.container {
    width: 96%;
    max-width: 70px;
    margin: 0 auto;
}

.img {
    width: 70px;
    height: auto;
}