<div class="padding">
    <b><span>GESTIÓN PROYECTOS/ACCIÓN</span></b>

    <button mat-flat-button color="primary" class="float-right padding" (click)="handleAddAction()">Registrar</button>

    <mat-form-field class="pading">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. prueba" #input>
    </mat-form-field>
</div>
<div class="padding">
    <div  class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="Nro">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nro </th>
                <td mat-cell *matCellDef="let element; index as i "> {{i+1}} </td>
            </ng-container>

            <!-- NombreProyecto Column -->
            <ng-container matColumnDef="NombreProyecto">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NombreProyecto </th>
                <td mat-cell *matCellDef="let element"> {{element.NombreProyecto}} </td>
            </ng-container>

            <!-- FechaInicio Column -->
            <ng-container matColumnDef="FechaInicio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> FechaInicio </th>
                <td mat-cell *matCellDef="let element"> {{element.FechaInicio}} </td>
            </ng-container>

            <!-- FechaFin Column -->
            <ng-container matColumnDef="FechaFin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> FechaFin </th>
                <td mat-cell *matCellDef="let element"> {{element.FechaFin}} </td>
            </ng-container>

            <!-- NombreMinicipio Column -->
            <ng-container matColumnDef="NombreMunicipio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NombreMunicipio </th>
                <td mat-cell *matCellDef="let element"> {{element.NombreMunicipio}} </td>
            </ng-container>

            <!-- NombreCuenca Column -->
            <ng-container matColumnDef="NombreCuenca">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
                <td mat-cell *matCellDef="let element"> {{element.NombreCuenca}} </td>
            </ng-container>

            <!-- NombreCategoria Column -->
            <ng-container matColumnDef="NombreCategoria">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NombreCategoria </th>
                <td mat-cell *matCellDef="let element"> {{element.NombreCategoria}} </td>
            </ng-container>

            <!-- NombreTipologia Column -->
            <ng-container matColumnDef="NombreTipologia">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NombreTipologia </th>
                <td mat-cell *matCellDef="let element"> {{element.NombreTipologia}} </td>
            </ng-container>

            <!-- Acciones Column -->
            <ng-container matColumnDef="Acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element" class="action-link">
                    <button mat-icon-button color="primary" matTooltip="Edit" (click)="handleEditAction(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" matTooltip="Delete" (click)="handleDeleteAction(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <mat-slide-toggle (change)="onChange($event.checked, element.id_proyecto)" matTooltip="Activar o Desactivar"
                        [checked]="element.estado">
                    </mat-slide-toggle>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No se encontro "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>