//---para responsividad
.table-wrapper {
  overflow-x: auto;
}

@media screen and (max-width: 600px) {
  .mat-table {
      display: block;
  }

  .mat-header-row,
  .mat-row {
      display: flex;
      flex-wrap: wrap;
  }

  .mat-cell,
  .mat-header-cell {
      flex: 1 1 100%;
  }
}

//---fin respopnsividad


td {
  font-size: 12px;
}

.title {
  align-items: center;
  text-align: center;
  padding-bottom: 15px;
}

.color-text {
  color: #A6ACAF;
}

mat-card {
  padding: 20px;
}

.padding {
  padding: 20px;
}


span {
  align-items: center;
  text-align: center;
}

mat-form-field {
  padding: 5px;
}

//para las opciones

.icon-group {
  align-items: center;
  display: inline-flex;
  // gap: 10px; /* Espacio entre los iconos */
}

/* Asegurar que los botones y los iconos tengan el mismo tamaño */
.icon-group button {

  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


.btn-icon:hover {
  cursor: pointer;
  /* Cambia el cursor a la mano */
}

td,
th {
  text-align: center !important;
  vertical-align: middle !important;
}

.d-flex {
  display: inline-flex;
}