
/* Estilo para centrar la palabra "Home" */
.mat-expansion-panel-header .mat-content {
    display: flex;
    align-items: center;
  }
  
  /* Estilo para ajustar el espacio entre el icono y el texto */
  .mat-expansion-panel-header mat-icon {
    margin-right: 8px; /* Puedes ajustar el valor según tus preferencias */
    
  }
  .mat-expansion-panel-header span {
    font-size: 15px; /* Puedes ajustar el tamaño de fuente según tus preferencias */
  }
  
  
  .menu-item  {    
    background-color: red;
  }

/* Estilo para los enlaces en los submenús */
::ng-deep .mat-menu-content .mat-menu-item {
  color: #5D6D7E;
  font-size: 12px; /* Ajusta el tamaño de fuente según tus preferencias */
  margin: 4px 0; /* Ajusta el espaciado vertical según tus preferencias */
}