.title-center{
    flex: 1 1 auto;
    text-align: center;
}

mat-form-field{
    padding: -1px;
}

mat-dialog-content{
   // background: orange;
    width: 400px;
    height: 200px;
    margin-bottom: -20px;
}

