<div class="header">
    <img src="../../../../assets/img/pic04.jpg" alt="Sistema Monitoreo PDC" class="background-image" />
    <div class="overlay">
      <div class="text-content">
        <h1>Sistema Monitoreo PDC</h1>
        <p>Explicación breve sobre el monitoreo.</p>
        <p>El Guadalquivir nos une</p>
      </div>
    </div>
  </div>
  
<div class="container">
  
    <!-- Cuadro con borde blanco -->
    <div class="white-box">
      <p>El Guadalquivir nos une</p>
    </div>
  
    <!-- Sección dividida en dos partes -->
    <div class="split-section">
      <!-- Izquierda: Qué es el sistema de monitoreo -->
      <div class="left">
        <h2 class="green-text">¿Qué es el Sistema de Monitoreo?</h2>
        <p>Descripción del sistema de monitoreo y sus beneficios.</p>
      </div>
      <!-- Derecha: Video de YouTube -->
      <div class="right">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/TU3lQDwhjYI" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  
    <!-- Descripción de características -->
    <div class="features">
      <h2>Características del Sistema</h2>
      <ul>
        <li>Característica 1: Descripción de la característica.</li>
        <li>Característica 2: Descripción de la característica.</li>
        <li>Característica 3: Descripción de la característica.</li>
      </ul>
    </div>
  </div>
  
  
  <div class="footer">
    &copy; {{ currentYear }} Derechos de autor GIZ-PROCUENCA
  </div>
  