<!--<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">{{action}}</span>
    </mat-toolbar-row>
</mat-toolbar>-->

<div class="titleForm">
    <span class="accion">{{action}}:</span>
    <p class="nomProy">{{nombreProyecto}}</p>
</div>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="seguimientoForm1">
        <div fxFlex fxLayout="column">
            <mat-toolbar style="margin-top: -0.7cm; margin-bottom: 10px;">
                <span class="subTitle center-aligned" style="color: #5D6D7E; font-size: 16px;">INFORMACION GENERAL</span>
            </mat-toolbar>
            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Entidad ejecutora</mat-label>
                    <mat-select formControlName="id_entidad_ejecutora" required>
                        <mat-option *ngFor="let item of EntidadEjecutora" [value]="item.id_entidad_ejecutora">
                            {{item.nom_entidad_ejecutora}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Fuente de información</mat-label>
                    <mat-select formControlName="id_fuente_de_informacion" required>
                        <mat-option *ngFor="let item of fuenteInformacion" [value]="item.id_fuente_de_informacion">
                            {{item.nom_fuente_inf}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                <mat-form-field fxFlex>
                    <mat-label>fecha de seguimiento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fecha_seguimiento"
                        (dateChange)="dateFormateado()">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Etapa</mat-label>
                    <mat-select formControlName="id_etapa" required>
                        <mat-option *ngFor="let etapa of Etapa" [value]="etapa.id_etapa"
                            (onSelectionChange)="changeEtapa(etapa)">
                            {{etapa.nombre_etapa}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


            <div fxLayout="row" fxLayoutAlign="space-between center" fxGap="8px" class="subTitle-container">
                <span class="subTitle">FINACIAMIENTO TOTAL DE LA ETAPA </span>
                <div class="icons">
                    <mat-icon class="btn-icon" (click)="addFinancimiento()" color="primary">add_circle</mat-icon>
                    <mat-icon class="btn-icon" (click)="removeInput()">remove_circle</mat-icon>
                </div>
                <span> (Bs.):{{'2000000'}}</span>
            </div>
            <div>
                <!--Aregar y quitar campos de Input-->
                <ng-container formArrayName="financiamiento">
                    <ng-container *ngFor="let finForm of financiamientoArray.controls; let i = index">
                        <div [formGroupName]="i" fxLayout="row wrap">
                            <mat-form-field appearance="fill" fxFlex>
                                <mat-label>Entidad financiera</mat-label>
                                <mat-select formControlName="id_entidad_financiera">
                                    <mat-option *ngFor="let item of EntidadFinanciera"
                                        [value]="item.id_entidad_financiera"
                                        (onSelectionChange)="addEntidadFinanciera(item)">
                                        {{item.nom_entidad_financiera}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="fill" fxFlex>
                                <mat-label>Monto inicial {{i + 1}}</mat-label>
                                <input matInput formControlName="monto_inicial" type="number">
                            </mat-form-field>

                            <mat-form-field appearance="fill" fxFlex>
                                <mat-label>Monto Final {{i + 1}}</mat-label>
                                <input matInput formControlName="monto_final" type="number">
                            </mat-form-field>
                            <mat-icon class="delete-btn" *ngIf="i>0" (click)="deleteFinanciamiento(i)">
                                delete_forever</mat-icon>
                        </div>
                    </ng-container>
                </ng-container>
                <!---->
            </div>

            <!------------------------SEGUIMIENTO------------------------->
            <mat-toolbar style=" margin-bottom: 10px;">
                <span class="subTitle center-aligned" style="color: #5D6D7E; font-size: 16px;">SEGUIMIENTO/AVANCE</span>
            </mat-toolbar>

            <div fxLayout="row" fxGap="8px" class="subTitle-container">
                <span class="subTitle" style="margin-right: 4.7cm;">FÍSICO</span>
            </div>
            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>*Avance (%)</mat-label>
                    <input matInput formControlName="avance_seguimiento_fisico" type="number">
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Observaciones</mat-label>
                    <input matInput formControlName="observacion_seguimiento_fisico" type="text">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxGap="8px" class="subTitle-container">
                <span class="subTitle" style="margin-right: 4.7cm;">FINANCIERO</span>
            </div>
            <ng-container formArrayName="seguimiento_financiamiento">
                <ng-container *ngFor="let segForm of seguimientoFinanciamientoArray.controls; let i = index">
                    <div [formGroupName]="i">
                        <div fxLayout="row wrap">
                            <mat-form-field appearance="fill" fxFlex>
                                <mat-label>Fuente de Financiamiento {{i+1}}</mat-label>
                                <input matInput type="text" [value]="entidades(i)?.nom_entidad_financiera">
                            </mat-form-field>
                            <mat-form-field appearance="fill" fxFlex>
                                <mat-label>*Monto Acumulado {{i + 1}}</mat-label>
                                <input matInput formControlName="monto" type="number">
                            </mat-form-field>
                            <mat-form-field appearance="fill" fxFlex>
                                <mat-label>% de seguimiento financiero</mat-label>
                                <input matInput type="number" [disabled]="true">
                            </mat-form-field>
                        </div>

                        <div fxLayout="row wrap">
                            <mat-form-field appearance="fill" fxFlex>
                                <mat-label>Observaciones</mat-label>
                                <input matInput type="text" formControlName="observacion">
                            </mat-form-field>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>


    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
        [disabled]="![seguimientoForm1.valid && seguimientoForm1.dirty]">Guardar</button>
    <button mat-raised-button color="primary" mat-dialog-close>Cancelar</button>
</mat-dialog-actions>