<!--<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">{{action}}</span>
    </mat-toolbar-row>
</mat-toolbar>-->

<div class="titleForm">
    <span class="accion">{{action}}:</span>
    <p class="nomProy">{{nombreProyecto}}</p>
</div>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="seguimientoForm1">
        <div fxFlex fxLayout="column">
            <mat-toolbar style="margin-top: -0.7cm; margin-bottom: 10px;">
                <span class="subTitle center-aligned" style="color: #5D6D7E; font-size: 16px;">INFORMACION GENERAL</span>
            </mat-toolbar>
            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Entidad ejecutora</mat-label>
                    <mat-select formControlName="id_entidad_ejecutora" required>
                        <mat-option *ngFor="let item of EntidadEjecutora" [value]="item.id_entidad_ejecutora">
                            {{item.nom_entidad_ejecutora}}
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="seguimientoForm1.controls['id_entidad_ejecutora']?.touched && seguimientoForm1.controls['id_entidad_ejecutora']?.invalid">
                        <span *ngIf="seguimientoForm1.controls['id_entidad_ejecutora'].errors?.['required']">Este campo es obligatorio.</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Fuente de información</mat-label>
                    <input matInput formControlName="fuente_de_informacion" type="text">
                    <mat-error
                        *ngIf="seguimientoForm1.controls['fuente_de_informacion']?.touched && seguimientoForm1.controls['fuente_de_informacion']?.invalid">
                        <span *ngIf="seguimientoForm1.controls['fuente_de_informacion'].errors?.['required']">Este campo es obligatorio.</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                <mat-form-field fxFlex>
                    <mat-label>fecha de seguimiento DD/MM/YYYY</mat-label>
                    <input matInput [matDatepicker]="picker" [disabled]="dateDisabled" (dateChange)="dateFormateado($event)" id="id_fecha_seguimiento">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error
                        *ngIf="seguimientoForm1.controls['fecha_seguimiento']?.touched && seguimientoForm1.controls['fecha_seguimiento']?.invalid">
                        <span *ngIf="seguimientoForm1.controls['fecha_seguimiento'].errors?.['required']">Este campo es obligatorio.</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Etapa</mat-label>
                    <mat-select formControlName="id_etapa" required (valueChange)="changeEtapa($event)">
                        <mat-option *ngFor="let etapa of Etapa" [value]="etapa.id_etapa">
                            {{etapa.nombre_etapa}}
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="seguimientoForm1.controls['id_etapa']?.touched && seguimientoForm1.controls['id_etapa']?.invalid">
                        <span *ngIf="seguimientoForm1.controls['id_etapa'].errors?.['required']">Este campo es obligatorio.</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxGap="8px" class="subTitle-container">
                <span class="subTitle">FINANCIAMIENTO TOTAL DE LA ETAPA </span>
                <div class="icons">
                    <mat-icon class="btn-icon" (click)="addFinancimiento()" color="primary">add_circle</mat-icon>
                    <mat-icon class="btn-icon" *ngIf="financiamientoArray.length>0"(click)="removeInput()">remove_circle</mat-icon>
                </div>
                <span> Total(Bs.): {{montoFinalTotal()}}</span>
            </div>
            <div>
                <!--Aregar y quitar campos de Input-->
                <ng-container formArrayName="financiamiento">
                    <ng-container *ngFor="let finForm of financiamientoArray.controls; let i = index">
                        <div [formGroupName]="i" fxLayout="row wrap">
                            <mat-form-field appearance="fill" fxFlex>
                                <mat-label>Entidad financiera</mat-label>
                                <mat-select formControlName="id_entidad_financiera">
                                    <mat-option *ngFor="let item of EntidadFinanciera"
                                        [value]="item.id_entidad_financiera"
                                        (onSelectionChange)="addEntidadFinanciera(item)">
                                        {{item.nom_entidad_financiera}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="financiamientoArray.at(i)?.get('id_entidad_financiera')?.touched && financiamientoArray.at(i)?.get('id_entidad_financiera')?.invalid">
                                    <span *ngIf="financiamientoArray.at(i)?.get('id_entidad_financiera')?.errors?.['required']">Este campo es obligatorio.</span>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill" fxFlex>
                                <mat-label >Monto inicial {{i + 1}}</mat-label>
                                <input matInput formControlName="monto_inicial" type="number">
                                <mat-error *ngIf="financiamientoArray.at(i)?.get('monto_inicial')?.touched && financiamientoArray.at(i)?.get('monto_inicial')?.invalid">
                                    <span *ngIf="financiamientoArray.at(i)?.get('monto_inicial')?.errors?.['required']">Este campo es obligatorio.</span>
                                    <span *ngIf="financiamientoArray.at(i)?.get('monto_final')?.errors?.['min']">El minimo es 1.</span>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill" fxFlex>
                                <mat-label>aporte inicial</mat-label>
                                <input matInput type="text" [disabled]="true" [value]="montoInicial(i)">
                                <span matTextPrefix>%&nbsp;</span>
                            </mat-form-field>
                            <mat-form-field appearance="fill" fxFlex>
                                <mat-label>Monto Final {{i + 1}}</mat-label>
                                <input matInput formControlName="monto_final" type="number">
                                <mat-error *ngIf="financiamientoArray.at(i)?.get('monto_final')?.touched && financiamientoArray.at(i)?.get('monto_final')?.invalid">
                                    <span *ngIf="financiamientoArray.at(i)?.get('monto_final')?.errors?.['required']">Este campo es obligatorio.</span>
                                    <span *ngIf="financiamientoArray.at(i)?.get('monto_final')?.errors?.['min']">El minimo es 1.</span>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill" fxFlex>
                                <mat-label>aporte final</mat-label>
                                <input matInput type="text" [disabled]="true" [value]="montoFinal(i)">
                                <span matTextPrefix>%&nbsp;</span>
                            </mat-form-field>
                            <mat-icon class="delete-btn" *ngIf="i>0" (click)="deleteFinanciamiento(i)">delete_forever</mat-icon>
                        </div>
                    </ng-container>
                </ng-container>
                <!---->
            </div>

            <!------------------------SEGUIMIENTO------------------------->
            <mat-toolbar style=" margin-bottom: 10px;">
                <span class="subTitle center-aligned" style="color: #5D6D7E; font-size: 16px;">SEGUIMIENTO/AVANCE</span>
            </mat-toolbar>

            <div fxLayout="row" fxGap="8px" class="subTitle-container">
                <span class="subTitle" style="margin-right: 4.7cm;">AVANCE FÍSICO</span>
            </div>
            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>*Avance (%)</mat-label>
                    <input matInput formControlName="avance_seguimiento_fisico" type="number">
                    <mat-error *ngIf="seguimientoForm1.controls['avance_seguimiento_fisico']?.touched && seguimientoForm1.controls['avance_seguimiento_fisico']?.invalid">
                        <span *ngIf="seguimientoForm1.controls['avance_seguimiento_fisico'].errors?.['required']">Este campo es obligatorio.</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Comentario</mat-label>
                    <input matInput formControlName="comentario_seguimiento_fisico" type="text">
                    <mat-error *ngIf="seguimientoForm1.controls['comentario_seguimiento_fisico']?.touched && seguimientoForm1.controls['comentario_seguimiento_fisico']?.invalid">
                        <span *ngIf="seguimientoForm1.controls['comentario_seguimiento_fisico'].errors?.['required']">Este campo es obligatorio.</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxGap="8px" class="subTitle-container">
                <span class="subTitle" style="margin-right: 4.7cm;">AVANCE FINANCIERO</span>
            </div>
            <ng-container formArrayName="seguimiento_financiamiento">
                <ng-container *ngFor="let segForm of seguimientoFinanciamientoArray.controls; let i = index">
                    <div [formGroupName]="i">
                        <div fxLayout="row wrap">
                            <mat-form-field appearance="fill" fxFlex>
                                <mat-label>Fuente de Financiamiento {{i+1}}</mat-label>
                                <input matInput type="text" [value]="entidades(i)?.nom_entidad_financiera">
                            </mat-form-field>
                            <mat-form-field appearance="fill" fxFlex>
                                <mat-label>*Monto Acumulado {{i + 1}}</mat-label>
                                <input matInput formControlName="monto" type="number">
                                <mat-error *ngIf="seguimientoFinanciamientoArray.at(i)?.get('monto')?.touched && seguimientoFinanciamientoArray.at(i)?.get('monto')?.invalid">
                                    <span *ngIf="seguimientoFinanciamientoArray.at(i)?.get('monto')?.errors?.['required']">Este campo es obligatorio.</span>
                                    <span *ngIf="seguimientoFinanciamientoArray.at(i)?.get('monto')?.errors?.['min']">El minimo es 1.</span>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill" fxFlex>
                                <mat-label>% de seguimiento financiero</mat-label>
                                <input matInput type="number" [disabled]="true" [value]="montoSeg(i)">
                                <span matTextPrefix>%&nbsp;</span>
                            </mat-form-field>
                        </div>

                    </div>
                </ng-container>
            </ng-container>
            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Comentario</mat-label>
                    <input matInput type="text" formControlName="comentario_seguimiento_financiero">
                </mat-form-field>
            </div>
        </div>


    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
        [disabled]="![seguimientoForm1.valid && seguimientoForm1.dirty]">Guardar</button>
    <button mat-raised-button color="primary" mat-dialog-close>Cerrar</button>
</mat-dialog-actions>