//---para responsividad
.table-wrapper {
    overflow-x: auto;
}

@media screen and (max-width: 600px) {
    .mat-table {
        display: block;
    }

    .mat-header-row,
    .mat-row {
        display: flex;
        flex-wrap: wrap;
    }

    .mat-cell,
    .mat-header-cell {
        flex: 1 1 100%;
    }
}

//---fin respopnsividad

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}



th {
    align-items: center;
    text-align: center;
}

td {
    font-size: 12px;
}

.title {
    align-items: center;
    text-align: center;
    padding-bottom: 15px;
}

.color-text {
    color: #A6ACAF;
}


.padding {
    padding: 20px;
}


span {
    align-items: center;
    text-align: center;
}


.DivContent {
    flex-grow: 1;
}

.pdc_etapa {
    margin-bottom: 20px;
}

i.icon-color {
    color: #ff1a1a;
}

i.icon-color-30 {
    color: #ffc34d;
}

i.icon-color-60 {
    color: #1aff1a;
}

.header {
    background-color: #262626 !important;
    color: white;
   // position: sticky;
    //top: 0; /* Controla la posición pegajosa */
   // background-color: white; /* Opcional: ajusta el color de fondo del encabezado */
   // z-index: 1;

}

.table-text {
    text-align: right;

}

//-----------------

.indicadores-container {
    height: 550px;
    max-height: 1200px;
    width: 100%;
    max-width: 100%;
    overflow: auto;
  }
  

table {
    width: 2000px;
    height: 500px;
}

td.mat-column-COD {
    width: 10px;
    padding-right: 8px;
}

td.mat-column-nombre_indicador {
    max-width: 1200px;
    min-width: 100px;
    padding-right: 8px;
}
@media (max-width: 767px) {
    td.mat-column-nombre_indicador {
      min-width: 100px; 
      position: static;
    }
  }


.mat-mdc-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
}

.center-table th {
    text-align: center; /* Centra horizontalmente el contenido del encabezado */
  }

