<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">{{action}} Entidad Financiera</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="entidadFinanForm">
        <div fxFlex fxLayout="column">
            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nom_entidad_finan" required>
                    <mat-error *ngIf="entidadFinanForm.controls.nom_entidad_finan.touched && entidadFinanForm.controls.nom_entidad_finan.invalid">
                        <span *ngIf="entidadFinanForm.controls.nom_entidad_finan.errors.required">Este campo es obligatorio.</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Descripción</mat-label>
                    <input matInput formControlName="desc_entidad_finan" required>
                    <mat-error *ngIf="entidadFinanForm.controls.desc_entidad_finan.touched && entidadFinanForm.controls.desc_entidad_finan.invalid">
                        <span *ngIf="entidadFinanForm.controls.desc_entidad_finan.errors.required">Este campo es obligatorio.</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
        [disabled]="![entidadFinanForm.valid && entidadFinanForm.dirty]">{{action}}</button>
        <button mat-raised-button color="primary" mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
