.mat-typography mat-form-field+mat-form-field {
  margin-left: 8px;
}

.titleForm {
  text-align: center;
  color: aliceblue;
  background-color:forestgreen;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  //padding-bottom: 2px;
}

.accion {
 // background-color: black;
  font-weight: bold;
  padding-bottom: -10px;
}
.nomProy{
  font-size: 14px;
  //background-color: aqua;
  padding-bottom: 10px;

}

input{
  font-size: 12px;
}

.mat-typography mat-form-field+mat-form-field {
  margin-left: 8px;
}

.title-center {
  flex: 1 1 auto;
  text-align: center;
}

.subTitle {
  //background-color: aqua;
  margin-bottom: 6px;
  margin-left: 2px;
}

.subTitle1 {
  background-color: aqua;
  margin-bottom: 160px;
  margin-left: 2px;
}

.btn-icon:hover {
  cursor: pointer;
  /* Cambia el cursor a la mano */
}

.center-aligned {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.file-input {
 display: none;
}