<div>
    <mat-card>
        <b><span>GESTION CATEGORIA</span></b>
        <button mat-flat-button color="primary" class="float-right" (click)="handleAddAction()">Registrar Categoría</button>
    </mat-card>
    <hr>
    <mat-card >
        <mat-form-field appearance="fill">
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="applyFilter($event)">
        </mat-form-field>
    </mat-card>
    <hr>
    <div class="responsive_table">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
            <ng-container matColumnDef="numero">
                <th mat-header-cell *matHeaderCellDef> No.</th>
                <td mat-cell *matCellDef="let element; index as i "> {{i+1}} </td>
            </ng-container>
            
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre</th>
                <td mat-cell *matCellDef="let element"> {{element.nom_categoria}} </td>
            </ng-container>
    
            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef>Descripción</th>
                <td mat-cell *matCellDef="let element"> {{element.desc_categoria}} </td>
            </ng-container>
    

    
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element" class="action-link">
                    <button mat-icon-button color="primary" matTooltip="Edit" (click)="handleEditAction(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" matTooltip="Delete" (click)="handleDeleteAction(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <mat-slide-toggle (change)="onChange($event.checked, element.ci)"
                        matTooltip="Activar o Desactivar Arbitro" [checked]="element.estado">
                    </mat-slide-toggle>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
        </table>
    </div>
</div>

