/* You can add global styles to this file, and also import other style files */

/*TEMA GLOBAL*/
@import './assets/styles/themes.scss';
/*FIN TEMA GLOBAL*/

//@import './assets/styles/variable.scss';
//@import './assets/styles/app.scss';
//---@import './assets/styles/header.scss';
//@import './assets/styles/pages.scss';
//@import './assets/styles/responsive.scss';
//@import './assets/styles/sidebar.scss';
//@import './assets/styles/icons/material-design-iconic-font/css/materialdesignicons.min.css';


/* Reducir el tamaño de letra de los inputs y selects y cambiar el color del texto a verde */
/* Reducir el tamaño de letra a 6px y cambiar el color a verde para todos los elementos input y select */
/* Estilo global para todos los elementos input y select */
::ng-deep input.mat-input,
::ng-deep select.mat-select {
    font-size: 6px;
    color: green;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

  //responsibe table
  @media(max-width: 800px) {
    .responsive_table {
        overflow-x: auto !important;
    }
  
    .mat-table {
        min-width:800px;
    }
  }
  
  .mat-row {
    height: auto;
  }
  
  .mat-header-cell,.mat-cell {
    text-align: center !important;
    padding: 0px 8px 0px 15px !important;
  }

  .black-snackbar {
    background: black !important;
    color: white !important;
  }

  .green-snackbar {
    background: #32CD32 !important;
    color: white !important;
  }

  .mat-snack-bar-container {
    margin-right: auto !important;
    margin-left: auto !important;
    width: 40vw !important;
    min-width: 90% !important;
    max-width: 100vw !important;
    margin-top: 70px !important;
    padding: 20px !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



