.container {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

.header img {
    width: 100%;
    max-height: 620px;
    object-fit: cover;
}

.video-container {
    max-height: 600px;
    overflow: hidden;
}

.video-container video {
    width: 100%;
    height: auto;
}

.img-monitoreo {
    max-width: 200px;
   // width: 100%;
    height: auto;
}

.title {
    text-align: center;
    background-color: #fff;
    padding: 20px;
}

.white-box {
    border: 1px solid #fff;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    margin-top: 20px;
}

.split-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.left {
    flex-basis: 60%;
    padding-right: 12px;
}

.right {
    flex-basis: 40%;
    padding-left: 12px;
}

.green-text {
   // color: #00bb2d;
   color: #41d448;
}

.features {
    margin-top: 20px;
}

.features ul {
    list-style-type: disc;
    padding-left: 20px;
}

.header {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.background-image {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // Fondo oscuro con opacidad
    color: #ffffff; //Letras blancas 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-content {
    text-align: center;
    padding: 20px;
}

.text-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.text-content p {
    font-size: 1.2em;
    margin: 5px 0;
}

//------pdf
.pdf-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .pdf-item {
    width: 32%;
    box-sizing: border-box;
  }
  .pdf-item1 {
    width: 48%;
    box-sizing: border-box;
  }
  
  .iframe {
    width: 100%;
    height: 500px; // Altura fija para todos los iframes 
    border: none;
  }
  .iframe1 {
    width: 100%;
    height: 650px; // Altura fija para todos los iframes 
    border: none;
  }

  
  @media screen and (max-width: 768px) {
    .pdf-container {
      flex-direction: column;
      align-items: center;
    }
  
    .pdf-item {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  //----footer
  // .footer {
  //   background-color: green;
  //   color: white;
  //   text-align: center;
  //   padding: 20px 0;
  //   font-size: 16px;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center; /* Centrar verticalmente */
  //   flex-wrap: wrap;
  // }
  
  // .contact-left, .contact-right {
  //   flex: 1;
  //   text-align: left;
  //   padding: 10px;
  // }
  
  // .icon {
  //   vertical-align: middle;
  //   font-size: 24px;
  //   margin-right: 10px;
  // }
  
  // .small-text {
  //   font-size: 12px;
  //   margin: 0;
  // }
  
  // a {
  //   color: white;
  //   text-decoration: underline;
  // }
  
  // a:hover {
  //   text-decoration: none;
  // }
  
  // .centered {
  //   display: flex;
  //   align-items: center; /* Centrar verticalmente */
  // }
  
  
//////
// .footer {
//   background-color: green;
//   color: white;
//   padding: 20px;
//   text-align: left; /* Alinear a la izquierda */
//   display: flex; /* Utilizar flexbox para centrar verticalmente */
//   flex-direction: column; /* Alinear elementos verticalmente */
//   align-items: center; /* Alinear elementos horizontalmente al centro */
// }

// .contact-info p, .development-contact p {
//   display: flex; /* Utilizar flexbox para alinear íconos y texto horizontalmente */
//   align-items: center; /* Alinear íconos y texto verticalmente al centro */
//   margin: 5px 0;
// }

// .icon {
//   margin-right: 5px; /* Espacio entre el ícono y el texto */
// }

// a {
//   color: white;
//   text-decoration: none;
// }

// .copyright {
//   margin-top: 20px; /* Espacio entre el contenido principal y los derechos de autor */
// }

///////
// .footer {
//   background-color: green;
//   color: white;
//   padding: 20px;
//   text-align: left;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .contact-info a, .development-contact a {
//   display: flex;
//   align-items: center;
//   margin: 5px 0;
//   color: white;
//   text-decoration: none;
//   transition: color 0.2s; /* Agregamos una transición de color al pasar el mouse */
// }

// .contact-info a:hover, .development-contact a:hover {
//   color: yellow; /* Cambiamos el color al pasar el mouse */
// }

// .icon {
//   margin-right: 5px;
//   font-size: 18px; /* Tamaño del ícono */
// }

// a {
//   color: white;
//   text-decoration: none;
// }

// .copyright {
//   margin-top: 20px;
// }
 
/// ---------------------------------------------------
// .footer {
//   background-color: green;
//   color: white;
//   padding: 18px;
//   font-size: 12px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   text-align: center;
// }

// .contact-columns {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   margin: 20px 0;
// }

// .contact-info {
//   text-align: left;
//   margin-right: 40px;
// }

// .contact-social-icons {
//   display: flex;
//   align-items: center;
//   justify-content: flex-end; /* Alinea los íconos de las redes sociales a la derecha */
//   flex-grow: 1;
//   margin: 0 20px;
// }

// .development-contact {
//   text-align: right; /* Alinea el texto a la derecha */
//   margin-left: auto; /* Empuja todo el contenido a la derecha */
// }

// .contact-icons {
//   text-align: right; /* Alinea los íconos y enlaces de contacto a la derecha */
// }

// .contact-info a,
// .development-contact a {
//   display: flex;
//   align-items: center;
//   margin: 5px 0;
//   color: white;
//   text-decoration: none;
//   transition: color 0.2s;
// }

// .contact-info a:hover,
// .development-contact a:hover {
//   color: yellow;
// }

// .icon,
// .social-icon {
//   margin-right: 5px;
//   font-size: 18px;
// }

// a {
//   color: white;
//   text-decoration: none;
// }

// .copyright {
//   margin-top: 20px;
// }

/// =------------------------------------------------------------
// .footer {
//   background-color: green;
//   color: white;
//   padding: 18px;
//   font-size: 12px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//  // text-align: center;
// }

// .contact-columns {
//   display: flex;
//   justify-content: space-between;
//  // align-items: center;
//   margin: 20px 0;
// }

// .contact-info {
//   text-align: left;
//   margin-right: 40px;
// }

// .contact-social-icons {
//   display: flex;
//   align-items: center;
//  // justify-content: flex-end; /* Alinea los íconos de las redes sociales a la derecha */
//   flex-grow: 1;
//   margin-right: 10px;
//   // padding: auto;
//   // margin: 0 20px;
// }

// .contact-social-icons a {
//   margin-right: 20px; /* Aumenta la separación entre los íconos de las redes sociales */
// }

// .contact-social-icons i.fa {
//   font-size: 24px; /* Aumenta el tamaño de los iconos de las redes sociales */
// }

// .development-contact {
//   text-align: right; /* Alinea el texto a la derecha */
//   margin-left: auto; /* Empuja todo el contenido a la derecha */
// }

// .contact-icons {
//   text-align: right; /* Alinea los íconos y enlaces de contacto a la derecha */
// }

// .contact-info a,
// .development-contact a {
//   display: flex;
//  // align-items: center;
//   margin: 5px 0;
//   color: white;
//   text-decoration: none;
//   transition: color 0.2s;
// }

// .contact-info a:hover,
// .development-contact a:hover {
//   color: yellow;
// }

// .icon,
// .social-icon {
//   margin-right: 5px;
//   font-size: 18px;
// }

// a {
//   color: white;
//   text-decoration: none;
// }

// .copyright {
//   margin-top: 20px;
// }

//-------------------------------------------
.footer {
  background-color: green;
  color: white;
  padding: 18px;
  font-size: 12px;
  display: flex;
  justify-content: space-between; /* Distribuye las columnas de igual tamaño */
  text-align: center;
  font-weight:100
}

.footer-column {
  text-align: center;
 // flex: 1; /* Distribuye el espacio igualmente entre las tres columnas */
  padding: 0 10px; /* Agrega un espacio entre las columnas */
}

.contact-info{
  text-align: left;
  padding-left: 40px;
}

.contact-social-icons{
  text-align: center;
}

.development-contact {
  align-items: center;
  padding-right: 90px;
 // text-align: right;
}



.contact-info a,
.development-contact a {
  display: flex;
  align-items: center;
  margin: 5px 0;
  color: white;
  text-decoration: none;
  transition: color 0.2s;
}

.contact-social-icons a {
  margin-right: 20px; /* Aumenta la separación entre los íconos de las redes sociales */
}

.contact-info a:hover,
.development-contact a:hover {
  color: yellow;
}

.icon,
.social-icon {
  margin-right: 5px;
  font-size: 18px;
}

.fa {
  font-size: 24px;
}

.fa {
  color: white;
  text-decoration: none;
}

.copyright {
  margin-top: 20px;
}
