<div class="header">
  <div class="video-container">

    <video autoplay muted loop class="background-image">
      <source src="../../../../assets/img/procuenca10.mp4" type="video/mp4">
      Tu navegador no soporta el elemento de video.
    </video>
  </div>
  <!-- <img src="../../../../assets/img/procuenca02 (1).gif" alt="Sistema Monitoreo PDC" class="background-image" />-->
  <div class="overlay">
    <div class="text-content">
      <img src="../../../../assets/img/logo-monitoreo04.png" alt="Sistema Monitoreo PDC" class="img-monitoreo" />
      <h1>Sistema Monitoreo PDCG</h1>
      <!--    <p>Los recursos hídricos impulsado por la tecnología asegura una gestión eficiente y sostenible. </p>-->
      <p>"El Guadalquivir nos une"</p>
    </div>
  </div>
</div>

<div class="container">

  <!-- Sección dividida en dos partes -->
  <h2 class="green-text">¿Qué es el Sistema de Monitoreo?</h2>
  <div class="split-section">
    <div class="left">
      <p style="text-align: justify;">
        <strong>El Sistema de Monitoreo</strong> es una herramienta web de gestión, de código abierto, cuya
        principal función es monitorear y gestionar proyectos, normativas, actividades, planes/estrategias y/o
        programas relacionados con la gestión de recursos hídricos en el marco del Plan Director de la Cuenca
        del Río Guadalquivir, el sistema tiene la capacidad de generar datos precisos y reportes significativos
        contribuyendo a la <strong>TOMA DE DECISIONES</strong> a distintos niveles y al manejo de información de
        manera transparente y eficiente.
      </p>
      <p style="text-align: justify;">
        Las principales funciones del Sistema de Monitoreo incluyen:
      </p>
      <ul>
        <li style="text-align: justify;"><strong>Monitoreo Continuo:</strong> El sistema permite el monitoreo
          constante y en tiempo real de diferentes iniciativas y proyectos, lo que brinda una visión
          actualizada de su progreso y rendimiento.</li>
        <li style="text-align: justify;"><strong>Seguimiento Físico y Financiero:</strong> Ofrece la capacidad
          de realizar un seguimiento tanto físico como financiero de cada proyecto o acción, lo que incluye la
          supervisión de presupuestos, costos, avances y otros indicadores clave.</li>
        <li style="text-align: justify;"><strong>Georreferenciación:</strong> El sistema utiliza herramientas de
          georreferenciación para localizar proyectos en un mapa interactivo, siendo esencial para identificar
          la ubicación exacta de las acciones/proyecto y facilitar su gestión.</li>
        <li style="text-align: justify;"><strong>Disponibilidad:</strong> Se pone a disposición de la población
          en
          general la información y documentación de cada proyecto o acción asi también reportes a medida,
          promoviendo
          la transparencia
          gubernamental y permitiendo que los ciudadanos accedan a datos clave de manera abierta y accesible.
        </li>
      </ul>
    </div>
    <!-- Derecha: Video de YouTube -->
    <div class="right">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/jmoWvIiF44M?si=cgdjFIFbZWg1gURm"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
      <p></p>
      <p style="text-align: justify;">
        “Avanzar en una digitalización integral de la información y de los procesos de gestión es una de las
        líneas de acción del Gobierno Departamental comprometido con la actualización tecnológica y
        modernización de la gestión Pública administrativa, para lo cual el Servicio Departamental de Gestión
        Integral del Agua – SEDEGIA con apoyo de GIZ-PROCUENCA, viene trabajando activamente en la implantación
        del sistema de monitoreo y otros sistemas”
      </p>

    </div>
  </div>
  <p style="text-align: justify;">
    El sistema de monitoreo del PDCG (Plan Director de la Cuenca del Río Guadalquivir) desempeña un papel fundamental al
    contribuir a otros instrumentos, como el Plan Nacional de Desarrollo (PDES), el Plan de Preparación para la
    Reducción de Riesgos de Desastres en Recursos Hídricos (PPRH) y a las Contribuciones Determinadas a Nivel Nacional
    (NDC). Estos instrumentos se benefician de la información y la gestión que ofrece el Sistema de Monitoreo para tomar
    decisiones informadas y coordinar acciones en pro de la sostenibilidad de la cuenca.
  </p>
  <p style="text-align: justify;">
    Además, es importante destacar que el Sistema de Monitoreo se alimentará con datos de los proyectos y acciones a
    través de la Plataforma Interinstitucional de la Cuenca. Esta plataforma está compuesta por diversas entidades y
    organizaciones, incluyendo el Ministerio de Medio Ambiente y Agua y el Viceministerio de Recursos Hídricos
    (MMAyA/VRHR), el Gobierno Autónomo Departamental de Tarija (GADT), los Gobiernos Autónomos Municipales (GAM) de
    Tarija, Uriondo, San Lorenzo y Padcaya, así como universidades, organizaciones de productores y organizaciones no
    gubernamentales.
  </p>
  <p style="text-align: justify;">
    El sistema es parte de los esfuerzos de la digitalización y modernización gubernamental, lo que implica
    la digitalización integral de la información y los procesos de gestión.
  </p>



  <h2 class="green-text">Características del Sistema de Monitoreo</h2>
  <img src="../../../../assets/img/caracteristicas-sistema03.png" alt="Sistema Monitoreo PDC"
    class="img-caracteristicas" style="width: 1120px;" />

  <h2 class="green-text">Documentos sistema web - Monitoreo</h2>
<!--
  <div class="pdf-container">
    <div class="pdf-item1">
      <iframe class="iframe1" src="../../../../assets/img/6113_PDC-Resumido1.pdf" frameborder="0"></iframe>
      <p><a href="../../../../assets/img/6113_PDC-Resumido1.pdf" target="_blank" rel="noopener noreferrer">Sistema
          Monitoreo PDCG</a></p>
    </div>
    <div class="pdf-item1">
      <iframe class="iframe1" src="../../../../assets/img/DocumentacionPDC-v4_compressed.pdf" frameborder="0"></iframe>
      <p><a href="../../../../assets/img/DocumentacionPDC-v4_compressed.pdf" target="_blank"
          rel="noopener noreferrer">Doc.
          Técnico Sis. Monitoreo</a></p>
    </div>
  </div>
-->
  <div class="pdf-container">
    <div class="pdf-item">
      <iframe class="iframe" src="../../../../assets/documents/Documentación_PDCG_V09.pdf" frameborder="0"></iframe>
      <p><a href="../../../../assets/documents/Documentación_PDCG_V09.pdf" target="_blank" rel="noopener noreferrer">Doc. Sistema
          Monitoreo PDCG</a></p>
    </div>
    <div class="pdf-item">
      <iframe class="iframe" src="../../../../assets/img/6113_PDC-Resumido1.pdf" frameborder="0"></iframe>
      <p><a href="../../../../assets/img/6113_PDC-Resumido1.pdf" target="_blank" rel="noopener noreferrer">IEEE830</a>
      </p>
    </div>
    <div class="pdf-item">
      <iframe class="iframe" src="../../../../assets/img/6113_PDC-Resumido1.pdf" frameborder="0"></iframe>
      <p><a href="../../../../assets/img/6113_PDC-Resumido1.pdf" target="_blank" rel="noopener noreferrer">Manual
          de usuario</a></p>
    </div>
    <div class="pdf-item">
      <iframe class="iframe" src="../../../../assets/documents/Manual_de_desarrollo.pdf" frameborder="0"></iframe>
      <p><a href="../../../../assets/documents/Manual_de_desarrollo.pdf" target="_blank" rel="noopener noreferrer">Manual
          de desarrollo</a></p>
    </div>
  </div>
</div>



<!--
<footer class="footer">
    <div class="contact-left">
      <div class="centered">
        <mat-icon class="icon">location_on</mat-icon>
        <p class="small-text">SEDEGIA - Carretera a Tomatitas Km 2.5 oficinas PERTT</p>
      </div>
      <div class="centered">
        <mat-icon class="icon">phone</mat-icon>
        <p class="small-text">Teléfono: <a href="tel:+6645098">66 45098</a></p>
      </div>
      <div class="centered">
        <mat-icon class="icon">email</mat-icon>
        <p class="small-text">Email: <a href="mailto:aguatarija@gmail.com">aguatarija@gmail.com</a></p>
       <a href="mailto:aguatarija@gmail.com?Subject=Interesado%20en%20el%20curso">Contactar por correo</a>
      </div>
    </div>
    <div class="contact-right">
      <div class="centered">
        <mat-icon class="icon">email</mat-icon>
        <p class="small-text">Email: <a href="mailto:rocio.poma@giz.de">rocio.poma@giz.de</a></p>
      </div>
      <div class="centered">
        <mat-icon class="icon">email</mat-icon>
        <p class="small-text">Email: <a href="mailto:pomarocio05@gmail.com">pomarocio05@gmail.com</a></p>
      </div>
    </div>
    <p class="copyright">© 2023 GIZ-PROCUENCA</p>
  </footer>
-->
<!--
<footer class="footer">
    <div class="contact-info">
        <p>Contacto de información</p>
      <a href="https://www.google.com/maps/place/SEDEGIA+Carretera+a+Tomatitas+Km+2.5+oficinas+PERTT" target="_blank">
        <mat-icon aria-hidden="false" aria-label="Ubicación" class="icon">location_on</mat-icon>  SEDEGIA - Carretera a Tomatitas Km 2.5 oficinas PERTT
      </a>
      <a href="tel:6645098">
        <mat-icon aria-hidden="false" aria-label="Teléfono" class="icon">phone</mat-icon>  66 45098
      </a>
      <a href="mailto:aguatarija@gmail.com">
        <mat-icon aria-hidden="false" aria-label="Email" class="icon">email</mat-icon>  aguatarija@gmail.com
      </a>
    </div>
    <div class="development-contact">
      <p>Contacto de desarrollo</p>
      <a href="mailto:rocio.poma@giz.de">
        <mat-icon aria-hidden="false" aria-label="Email" class="icon">email</mat-icon>  rocio.poma@giz.de
      </a>
      <a href="mailto:pomarocio05@gmail.com">
        <mat-icon aria-hidden="false" aria-label="Email" class="icon">email</mat-icon>  pomarocio05@gmail.com
      </a>
    </div>
    <p class="copyright">&copy;  2023 GIZ-PROCUENCA</p>
  </footer>

-->
<!--
<footer class="footer">
    <div class="contact-columns">
      <div class="contact-info">
        <p>Contacto de información</p>
        <a href="https://www.google.com/maps/place/SEDEGIA+Carretera+a+Tomatitas+Km+2.5+oficinas+PERTT" target="_blank">
          <mat-icon aria-hidden="false" aria-label="Ubicación" class="icon">location_on</mat-icon> SEDEGIA - Carretera a Tomatitas Km 2.5 oficinas PERTT
        </a>
        <a href="tel:6645098">
          <mat-icon aria-hidden="false" aria-label="Teléfono" class="icon">phone</mat-icon> 66 45098
        </a>
        <a href="mailto:aguatarija@gmail.com">
          <mat-icon aria-hidden="false" aria-label="Email" class="icon">email</mat-icon> aguatarija@gmail.com
        </a>
      </div>
      <div class="contact-social-icons">
        <a href="URL_DE_FACEBOOK"><i class="fa fa-facebook"></i></a>
        <a href="URL_DE_WHATSAPP"><i class="fa fa-whatsapp"></i></a>
        <a href="URL_DE_INSTAGRAM"><i class="fa fa-instagram"></i></a>
        <a href="URL_DE_LINKEDIN"><i class="fa fa-linkedin"></i></a>
        <a href="URL_DE_TWITTER"><i class="fa fa-twitter"></i></a> 
      </div>
      <div class="development-contact">
        <p>Contacto de desarrollo</p>
        <div class="contact-icons">
          <a href="mailto:rocio.poma@giz.de">
            <mat-icon aria-hidden="false" aria-label="Email" class="icon">email</mat-icon> rocio.poma@giz.de
          </a>
          <a href="mailto:pomarocio05@gmail.com">
            <mat-icon aria-hidden="false" aria-label="Email" class="icon">email</mat-icon> pomarocio05@gmail.com
          </a>
        </div>
      </div>
    </div>
    <p class="copyright">© 2023 GIZ-PROCUENCA</p>
  </footer>
  
-->
<footer class="footer">
  <div class="footer-column">
    <div class="contact-info">
      <p>Contacto de información</p>
      <a href="https://maps.app.goo.gl/vphrUNWP6tTJaNbZ7" target="_blank">
        <mat-icon aria-hidden="false" aria-label="Ubicación" class="icon">location_on</mat-icon> SEDEGIA - Carretera a
        Tomatitas Km 2.5 oficinas PERTT
      </a>
      <a href="tel:6645098">
        <mat-icon aria-hidden="false" aria-label="Teléfono" class="icon">phone</mat-icon> 66 45098
      </a>
      <a href="mailto:aguatarija@gmail.com">
        <mat-icon aria-hidden="false" aria-label="Email" class="icon">email</mat-icon> aguatarija@gmail.com
      </a>
    </div>
  </div>
  <div class="footer-column">
    <div class="contact-social-icons">
      <a href="https://www.facebook.com/profile.php?id=100075513687943&locale=gn_PY" target="_blank"><i
          class="fa fa-facebook"></i></a>
      <a href="URL_DE_WHATSAPP" target="_blank"><i class="fa fa-whatsapp"></i></a>
      <a href="URL_DE_INSTAGRAM" target="_blank"><i class="fa fa-instagram"></i></a>
      <a href="URL_DE_LINKEDIN" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="URL_DE_TWITTER" target="_blank"><i class="fa fa-twitter"></i></a>
    </div>
    <p class="copyright">© 2023 GIZ-PROCUENCA</p>
  </div>
  <div class="footer-column">
    <div class="development-contact">
      <p>Contacto de desarrollo</p>
      <div class="contact-icons">
        <a href="mailto:rocio.poma@giz.de">
          <mat-icon aria-hidden="false" aria-label="Email" class="icon">email</mat-icon> rocio.poma@giz.de
        </a>
        <a href="mailto:pomarocio05@gmail.com">
          <mat-icon aria-hidden="false" aria-label="Email" class="icon">email</mat-icon> pomarocio05@gmail.com
        </a>
      </div>
    </div>
  </div>
</footer>