.title-center{
  flex: 1 1 auto;
  text-align: center;
}

mat-form-field{
  padding: 5px;
}

.mat-typography mat-form-field+mat-form-field {
  margin-left: 8px;
}

.subTitle {
  margin-bottom: 6px;
  margin-left: 2px;
} 


