<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">Cargar Documentos para el proyecto</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="proyectoForm">
        <div fxFlex fxLayout="column">
            <div fxLayout="row wrap">
        <mat-form-field appearance="fill" fxFlex>
            <mat-label>Comentarios</mat-label>
            <input matInput formControlName="Descripcion" required>
            <mat-error
                *ngIf="proyectoForm.controls.Descripcion.touched && proyectoForm.controls.Descripcion.invalid">
                <span *ngIf="proyectoForm.controls.Descripcion.errors.required">Este campo es
                    obligatorio.</span>
            </mat-error>
        </mat-form-field>
        </div>
     

        <!-- aqui es el nuevo  -->
        <div fxLayout="row wrap">
        <input type="file" (change)="onFileSelected($event)" multiple>

                            <div *ngFor="let file of files; let i = index">
                            <img [src]="file.preview" alt="Vista previa">
                            <span>{{ file.file.name }}</span>
                            <button (click)="removeFile(i)">Eliminar</button>
                            </div>
        </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="uploadFiles()" 
        [disabled]="![proyectoForm.valid && proyectoForm.dirty]">Aceptar</button>
    <button mat-raised-button color="primary" mat-dialog-close>Cancelar</button>
</mat-dialog-actions>