<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">{{action}} Proyecto/Accion</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="proyectoForm">
        <div fxFlex fxLayout="column">
            <span>INFORMACION GENERAL</span>
            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Tipologia</mat-label>
                    <mat-select formControlName="tipologia" required>
                        <mat-option *ngFor="let tipologia of tipologia" [value]="tipologia.id_tipologia">
                            {{tipologia.nom_tipologia}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Nombre proyecto/accion</mat-label>
                    <input matInput formControlName="nom_proyecto" required>
                    <mat-error
                        *ngIf="proyectoForm.controls.nom_proyecto.touched && proyectoForm.controls.nom_proyecto.invalid">
                        <span *ngIf="proyectoForm.controls.nom_proyecto.errors.required">Este campo es
                            obligatorio.</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Categorizacion</mat-label>
                    <mat-select formControlName="categoria" required>
                        <mat-option *ngFor="let categoria of categoria" [value]="categoria.id_categoria">
                            {{categoria.nom_categoria}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex>
                    <mat-label>fecha inicio</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fecha_inicio">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field fxFlex>
                    <mat-label>fecha fin</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="fecha_fin">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>

            <span>LOCALIZACION</span>

            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Cuenca</mat-label>
                    <mat-select formControlName="cuenca" required>
                        <mat-option *ngFor="let cuenca of cuenca" [value]="cuenca.id_cuenca">
                            {{cuenca.nom_cuenca}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Municipio</mat-label>
                    <mat-select formControlName="municipio" (selectionChange)="getComunidad($event.value)" required>
                        <mat-option *ngFor="let municipio of municipio" [value]="municipio.id_municipio">
                            {{municipio.nombre_municipio}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Coordenada x</mat-label>
                    <input type="number" matInput formControlName="coordenada_x" required>
                    <mat-error
                        *ngIf="proyectoForm.controls.coordenada_x.touched && proyectoForm.controls.coordenada_x.invalid">
                        <span *ngIf="proyectoForm.controls.coordenada_x.errors.required">Este campo es
                            obligatorio.</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Coordenada y</mat-label>
                    <input type="number" matInput formControlName="coordenada_y" required>
                    <mat-error
                        *ngIf="proyectoForm.controls.coordenada_y.touched && proyectoForm.controls.coordenada_y.invalid">
                        <span *ngIf="proyectoForm.controls.coordenada_y.errors.required">Este campo es
                            obligatorio.</span>
                    </mat-error>
                </mat-form-field>

            </div>
            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Area</mat-label>
                    <mat-select formControlName="area" required>
                        <mat-option *ngFor="let area of area" [value]="area.value">
                            {{area.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!--
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Comunidad/ciudad</mat-label>
                    <input matInput formControlName="comunidad_ciudad" required>
                    <mat-error
                        *ngIf="proyectoForm.controls.comunidad_ciudad.touched && proyectoForm.controls.comunidad_ciudad.invalid">
                        <span *ngIf="proyectoForm.controls.comunidad_ciudad.errors.required">Este campo es
                            obligatorio.</span>
                    </mat-error>
                </mat-form-field>-->

                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Comunidad/ciudad</mat-label>
                    <mat-select formControlName="comunidad_ciudad" required>
                        <mat-option *ngFor="let comunidad of comunidad" [value]="comunidad.id">
                            {{comunidad.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <span>ALCANCE</span>
            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Cantidad</mat-label>
                    <input type="number" matInput formControlName="cantidad" required>
                    <mat-error *ngIf="proyectoForm.controls.cantidad.touched && proyectoForm.controls.cantidad.invalid">
                        <span *ngIf="proyectoForm.controls.cantidad.errors.required">Este campo es obligatorio.</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Unidad</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let unidad of unidad" [value]="unidad.id_unidad_medicion">
                            {{unidad.nom_unidad}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Hombres</mat-label>
                    <input type="number" matInput formControlName="hombres" required>
                    <mat-error *ngIf="proyectoForm.controls.hombres.touched && proyectoForm.controls.hombres.invalid">
                        <span *ngIf="proyectoForm.controls.hombres.errors.required">Este campo es obligatorio.</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>mujeres</mat-label>
                    <input type="number" matInput formControlName="mujeres" required>
                    <mat-error *ngIf="proyectoForm.controls.mujeres.touched && proyectoForm.controls.mujeres.invalid">
                        <span *ngIf="proyectoForm.controls.mujeres.errors.required">Este campo es obligatorio.</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
        [disabled]="![proyectoForm.valid && proyectoForm.dirty]">{{action}}</button>
    <button mat-raised-button color="primary" mat-dialog-close>Cancelar</button>
</mat-dialog-actions>