<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">{{action}} Proyecto/Accion</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="proyectoForm">
        <div fxFlex fxLayout="column">
            <span class="subTitle">INFORMACION GENERAL</span>
            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Tipologia</mat-label>
                    <mat-select formControlName="id_tipologia" required>
                        <mat-option *ngFor="let tipologia of tipologia" [value]="tipologia.id_tipologia">
                            {{tipologia.nom_tipologia}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Nombre proyecto/accion</mat-label>
                    <input matInput formControlName="nom_proyecto" required>
                    <mat-error
                        *ngIf="proyectoForm.controls.nom_proyecto.touched && proyectoForm.controls.nom_proyecto.invalid">
                        <span *ngIf="proyectoForm.controls.nom_proyecto.errors.required">Este campo es
                            obligatorio.</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Categorizacion</mat-label>
                    <mat-select formControlName="id_categoria" required>
                        <mat-option *ngFor="let categoria of categoria" [value]="categoria.id_categoria">
                            {{categoria.nom_categoria}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex>
                    <mat-label>fecha inicio</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fecha_inicio">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field fxFlex>
                    <mat-label>fecha fin</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="fecha_fin">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>

            <span class="subTitle">LOCALIZACION</span>

            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Cuenca</mat-label>
                    <mat-select formControlName="id_cuenca" (selectionChange)="onCuencaSelected($event)" required>
                        <mat-option *ngFor="let cuenca of cuenca" [value]="cuenca.id_cuenca">
                            {{cuenca.nom_cuenca}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Municipio</mat-label>
                    <mat-select formControlName="id_municipio" (selectionChange)="getComunidad($event.value)" required>
                        <mat-option *ngFor="let municipio of municipio" [value]="municipio.id_municipio">
                            {{municipio.nombre_municipio}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Coordenada x</mat-label>
                    <input type="number" matInput formControlName="coordenada_x" required>
                    <mat-error
                        *ngIf="proyectoForm.controls.coordenada_x.touched && proyectoForm.controls.coordenada_x.invalid">
                        <span *ngIf="proyectoForm.controls.coordenada_x.errors.required">Este campo es
                            obligatorio.</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Coordenada y</mat-label>
                    <input type="number" matInput formControlName="coordenada_y" required>
                    <mat-error
                        *ngIf="proyectoForm.controls.coordenada_y.touched && proyectoForm.controls.coordenada_y.invalid">
                        <span *ngIf="proyectoForm.controls.coordenada_y.errors.required">Este campo es
                            obligatorio.</span>
                    </mat-error>
                </mat-form-field>

            </div>
            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Area</mat-label>
                    <mat-select formControlName="area" required>
                        <mat-option *ngFor="let area of area" [value]="area">
                            {{area}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>



                <!--    <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Comunidad/ciudad</mat-label>
                    <mat-select formControlName="id_ciudad_comunidad" required>
                        <mat-option *ngFor="let comunidad of comunidad" [value]="comunidad.id">
                            {{comunidad.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->



                <!-- prueba de comunidad -->
                <mat-form-field fxFlex>
                    <mat-label>Comunidad/ciudad</mat-label>
                    <mat-select [formControl]="ComunidadMultiCtrl" [multiple]="true" #multiSelect
                        (selectionChange)="getcomunidades($event.value)">
                        <mat-option placeholderLabel="Buscar opción">
                            <ngx-mat-select-search [formControl]="searchComunidad"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let option of filterComunidad" [value]="option">
                            {{ option.nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <span class="subTitle">ALCANCE</span>
            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Cantidad</mat-label>
                    <input type="number" matInput formControlName="cantidad" required>
                    <mat-error *ngIf="proyectoForm.controls.cantidad.touched && proyectoForm.controls.cantidad.invalid">
                        <span *ngIf="proyectoForm.controls.cantidad.errors.required">Este campo es obligatorio.</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Unidad</mat-label>
                    <mat-select formControlName="id_unidad_medicion">
                        <mat-option *ngFor="let unidad of unidad" [value]="unidad.id_unidad_medicion">
                            {{unidad.nom_unidad}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Hombres</mat-label>
                    <input type="number" matInput formControlName="hombres" required>
                    <mat-error *ngIf="proyectoForm.controls.hombres.touched && proyectoForm.controls.hombres.invalid">
                        <span *ngIf="proyectoForm.controls.hombres.errors.required">Este campo es obligatorio.</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>mujeres</mat-label>
                    <input type="number" matInput formControlName="mujeres" required>
                    <mat-error *ngIf="proyectoForm.controls.mujeres.touched && proyectoForm.controls.mujeres.invalid">
                        <span *ngIf="proyectoForm.controls.mujeres.errors.required">Este campo es obligatorio.</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div  appearance="fill" fxFlex>
                <mat-label>Convocatoria</mat-label><br>
                <input (change)="selectFile($event)" formControlName="documento"
                    class="form-control-file" type="file">
            </div>
            <!--
            <span class="subTitle">ADJUNTO</span>
            <div class="radio_buton" appearance="fill" fxFlex>
                <mat-label>Documento</mat-label><br>
                <input (change)="selectFile($event)" formControlName="documento" class="form-control-file" type="file">
            </div>
        -->
    
            <!--
            <div>
                <input type="file" (change)="onFileSelected($event)" style="display: none;" #fileInput>
                <button mat-icon-button (click)="fileInput.click()">
                  <mat-icon>cloud_upload</mat-icon>
                </button>
                <span>{{ selectedFileName }}</span>

            </div>
            -->

            <!--Fin Prueba-->

            <div *ngIf="showAdditionalSelects">
                <span class="subTitle1">ALINEAMIENTO DE ACCIONES ESTRATÉGICAS (PDC) </span>
                <div>
                    <div *ngIf="showSelector1">

                        <!--vigente-->
                        <!--
                        <mat-form-field>
                            <mat-select [formControl]="LineasEstCtrl" placeholder="Lineas Estrategicas" #singleSelect
                                (selectionChange)="getLineaDeAccion($event.value.id_linea_estrategica)">
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="LineasEstFilterCtrl"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let bank of filteredLineasEst | async" [value]="bank">
                                    {{bank.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        -->

                        <!--
                             <mat-form-field fxFlex>
                            <mat-label>Línea Estratégica (LE)</mat-label>
                            <mat-select [formControl]="selectedOptionControl"
                                (selectionChange)="getLineaDeAccion($event.value.id_linea_estrategica)">
                                <mat-option><ngx-mat-select-search [formControl]="searchLineaEstrategica"
                                        placeholderLabel="Buscar opción"></ngx-mat-select-search></mat-option>
                                <mat-option *ngFor="let option of filterLineaEstrategica" [value]="option">
                                    {{ option.descripcion }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        -->

                        <mat-form-field fxFlex>
                            <mat-label>Línea Estratégica (LE)</mat-label>
                            <mat-select (selectionChange)="getLineaDeAccion($event.value.id_linea_estrategica)">
                                <mat-option><ngx-mat-select-search [formControl]="searchLineaEstrategica"
                                        placeholderLabel="Buscar opción"></ngx-mat-select-search></mat-option>
                                <mat-option *ngFor="let option of filterLineaEstrategica" [value]="option">
                                    {{ option.descripcion }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="showSelector2">
                        <mat-form-field fxFlex>
                            <mat-label>Línea de Acción (LA)</mat-label>
                            <mat-select (selectionChange)="getAccionEstrategica($event.value.id_linea_accion)">
                                <mat-option><ngx-mat-select-search [formControl]="searchLineaDeAccion"
                                        placeholderLabel="Buscar opción"></ngx-mat-select-search></mat-option>
                                <mat-option *ngFor="let option of filterLineaDeAccion" [value]="option">
                                    {{ option.descripcion }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="showSelector3">
                        <mat-form-field fxFlex>
                            <mat-label>Acción Estratégica (AE)</mat-label>
                            <mat-select formControlName="id_accion_estrategica">
                                <mat-option><ngx-mat-select-search [formControl]="searchAccionEstrategica"
                                        placeholderLabel="Buscar opción"></ngx-mat-select-search></mat-option>
                                <mat-option *ngFor="let option of filterAccionEstrategica"
                                    [value]="option.id_accion_estrategica">
                                    {{ option.descripcion }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <span class="subTitle1">ALINEAMIENTO DE INDICADOR (PDC)</span>
                <div>
                    <div *ngIf="showSelector1">
                        <!-- <mat-form-field class="example-full-width" fxFlex>
                            <mat-label>Indicador</mat-label>
                            <input type="text" aria-label="Number" matInput [formControl]="myControl"
                                [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete"
                                (optionSelected)="getLineaDeAccion($event.option)">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option.descripcion">
                                    {{option.id_linea_estrategica}} {{option.descripcion}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field> -->
                        <!-- ... -->
                        <mat-form-field fxFlex>
                            <mat-label>Indicador</mat-label>
                            <mat-select formControlName="id_indicador">
                                <mat-option><ngx-mat-select-search [formControl]="searchIndicador"
                                        placeholderLabel="Buscar opción"></ngx-mat-select-search></mat-option>
                                <mat-option *ngFor="let option of filterIndicador" [value]="option.id_indicador">
                                    {{option.id_indicador}}.- {{ option.nombre_indicador }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row wrap">
                    <mat-form-field appearance="fill">
                        <mat-label>Cantidad</mat-label>
                        <input matInput>
                        <mat-error
                            *ngIf="proyectoForm.controls.nom_proyecto.touched && proyectoForm.controls.nom_proyecto.invalid">
                            <span *ngIf="proyectoForm.controls.nom_proyecto.errors.required">Este campo es
                                obligatorio.</span>
                        </mat-error>
                    </mat-form-field>
                    <!--
                    <mat-form-field appearance="fill">
                        <mat-label>Unidad</mat-label>
                        <input matInput formControlName="nom_proyecto" required>
                    </mat-form-field>
                    -->
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
        [disabled]="![proyectoForm.valid && proyectoForm.dirty]">{{action}}</button>
    <button mat-raised-button color="primary" mat-dialog-close>Cancelar</button>
</mat-dialog-actions>